# Configurações de Produção
NODE_ENV=production

# Database
POSTGRES_DB=eventify
POSTGRES_USER=eventify_user
POSTGRES_PASSWORD=eventify_password

# Backend
DATABASE_URL=postgresql://eventify_user:eventify_password@localhost:5432/eventify?schema=public
PORT=3001
FRONTEND_URL=http://localhost:3000

# Frontend
NEXT_PUBLIC_API_URL=http://localhost:3001/api
